html,body {
  background-color: #A68164;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
    text-align: center;
  display: inline-block;
}

li a {
  display: block;
  padding: 8px;
  background-color: #F7F3E7;
}

li a:hover {
  background-color: #ECEADD;
  color: #A68164;
}

li a.active {
  background-color: #EF9259;
  color: #A68164;
}
.nav-link {
  color: #A68164;
}

.welc {
  text-align: center;
  color: #503B3B;
}

.intro {
  color: #F7F3E7;
  text-align: center;
}

.button {
  background-color: #EF9259;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.button:hover {
  opacity: 1
color: black;
}

.button {border-radius: 10px;}

.footer {
  background-color: #F7F3E7;
  padding: 30px;
  margin: 100;
}

.f {
    text-align: center;
  color: #A68164; 
}

h4 {
    color: #A68164; 
}

.info1 {
    color: #EF9259;
    text-align: center;
}

.footertext {
  color:  #EF9259; 
}

h6 {
  color: #F7F3E7;
}