html,body {
  background-color: #A68164;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
    text-align: center;
  display: inline-block;
}


li a {
  display: block;
  padding: 8px;
  background-color: #F7F3E7;
}

li a:hover {
  background-color: #ECEADD;
  color: #A68164;
}

li a.active {
  background-color: #EF9259;
  color: #A68164;
}
.nav-link {
  color: #A68164;
}

.welc {
  text-align: center;
  color: #503B3B;
  font-family: "Paytone One";
}

.intro {
  color: #F7F3E7;
  text-align: center;
}

.button {
  background-color: #EF9259;
  border: none;
  color: #503B3B;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.button:hover {
  opacity: 1
color: #503B3B;
}

.button {border-radius: 10px;}

.footer {
  background-color: #F7F3E7;
  padding: 30px;
  margin: 100;
}

.f {
    text-align: center;
  color: #A68164; 
}

h4 {
    color: #A68164; 
  font-family: "Paytone One";
}

.info1 {
    color: #EF9259;
    text-align: center;
    font-family: "Paytone One";
}

.footertext {
  color:  #EF9259; 
}

h6 {
  color: #F7F3E7;
}


.wrapper{
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #F7F3E7; 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #503B3B;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #EF9259;
  color: #503B3B;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #F7F3E7;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
